@font-face {
    font-family: 'Bold Italic';
    src: url(orkney/Orkney\ Bold\ Italic.woff2);
}
@font-face {
    font-family: 'Light Italic';
    src: url(orkney/Orkney\ Light\ Italic.woff2);
}
@font-face {
    font-family: 'Medium Italic';
    src: url(orkney/Orkney\ Medium\ Italic.woff2);
}
@font-face {
    font-family: 'Regular Italic';
    src: url(orkney/Orkney\ Regular\ Italic.woff2);
}
@font-face {
    font-family: 'Bold';
    src: url(orkney/Orkney\ Bold.woff2);
}
@font-face {
    font-family: 'Light';
    src: url(orkney/Orkney\ Light.woff2);
}
@font-face {
    font-family: 'Medium';
    src: url(orkney/Orkney\ Medium.woff2);
}
@font-face {
    font-family: 'Regular';
    src: url(orkney/Orkney\ Regular.woff2);
}



/* Adjust font size for smaller screens */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: linear-gradient(to right, #00031f, 	#002425);
    margin: 0;
}

ul {
    list-style-type: none;
    padding: min(1vw, 1vh);
}

.container{
    width: 100%;
    margin: 20px auto;
    display: flex;
}

.hero{
    width: 80%;
    margin: auto;

}

h1{
    margin-top: 6.25rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-family: 'Bold Italic';
    color:#ffd119;
    font-size: 6.5rem; /*7vw*/
    display:flex;
    justify-content: center;
    align-items: center;
}
.experience{
    font-family: "Regular Italic";
    font-size: 1.25rem;
    margin-bottom: 4.5rem;
    color: rgb(179, 178, 178);
    display: flex;
    justify-content: center;
}




.navbar{
    font-family: 'Medium';
    font-size: 2vw; /*2vw*/
    color: white;
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
    transition: text-shadow 0.5s ease; /* Add transition */
}
.navSeat, .navAbout, .navContact:hover{
    transition: text-shadow 0.5s ease; /* Add transition */
}
.navSeat:hover,.navAbout:hover, .navContact:hover{
    animation: glowEffect 3s infinite ease-in-out;
}


@keyframes glowEffect {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
        transform: scale(1.0);
    }
    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1);
    }
}

.popSeat{
    display: flex;
    justify-content: center;
    align-items:center; 
    overflow: scroll;
}

.cabAPI{
    font-family: 'Bold';
    width:100%;
    height: 100%;
    border: solid 3px#343434;
    border-radius: 5px;
}

.popUps{
    display:flex;
    height: 0px;
    padding: 50px;
    font-family: 'Regular';
    justify-content: center;
    border-radius: 7px;
    margin-bottom: 40px;
    transition: height 2s ease;
}

.popUps.active{
    height: 78vh;
}

.popUps.activeforMobileSeat{
    height: 110vh; 
}
.popUps.activeforMobile{
    height: 53vh;
}
.popSeat,.popContact, .popAbout{
    display:block;
    position:absolute;
    overflow: hidden;
    width:0;
    height: 0;
    padding: min(6vw, 6vh);
    border-radius: 8px;
    border: 3px solid #949494;
    transform: translate (-50%, -50%);
    background-color: #343434;
    color: #dfdddd;
    opacity:0;
}

.contactHead{
    font-family: 'Medium';
    font-size: min(7vw, 7vh);
    margin:5% 0 7%;

}


ul.custom-bullets li {
    padding: min(.8vw, 0.8vh); /* Adjust padding to your liking */
    margin-bottom: min(3.5vw, 3.5vh); /* Adjust spacing between list items */
    border-radius: 4px; /* Add rounded corners for a card-like appearance */
}

li::before {
    content: "\2022"; /* Unicode character for a solid circle bullet point */
    color: #ffc800; /* Set the color of the bullet point */
    margin-right: min(1vw, 1vh); /* Adjust the spacing between the bullet point and text */
}

.about-bullets{
    font-size: min(4.8vw, 4.8vh); /*4vw*/
}
.contact-bullets{
    font-family: 'Regular';
    font-size: min(4vw, 4vh); /*3vw*/
    margin: 5% 0; 

}
.popSeat.mobile{
    padding: 0.5rem;
    margin: 20px;
}
@keyframes openPop {
    0%{
        opacity:0;
        width:0%;
        height: 0%;
    }
    50%{
        opacity: 1;
        width: 70%;
        height: 0%;
    }
    100%{
        opacity: 1;
        width: 70%;
        height: min(70vw, 70vh);
    }
    
}

@keyframes closePop {
    0%{
        opacity: 1;
        width: 70%;
        height: min(70vw, 70vh);
    }
    50%{
        opacity: 1;
        width: 70%;
        height: 0%;
    }
    100%{
        opacity:0;
        width:0%;
        height: 0%;
    }
    
}

/*open and close popup for Seat popup for small displays*/
@keyframes openPopSeatforMobile {
    0%{
        opacity:0;
        width:0%;
        height: 0%;
    }
    50%{
        opacity: 1;
        width: 21.5rem;
        height: 0%;
    }
    100%{
        opacity: 1;
        width: 21.5rem;
        height: 780px;
    }
    
}

@keyframes closePopSeatforMobile {
    0%{
        opacity: 1;
        width: 21.5rem;
        height:780px;
    }
    50%{
        opacity: 1;
        width: 21.5rem;
        height: 0%;
    }
    100%{
        opacity:0;
        width:0%;
        height: 0%;
    }
    
}



.PopOpen{
    animation: openPop 1s forwards;
    animation-delay: 1s;
}

.PopClose{
    animation: closePop 1s forwards;
}

.PopOpenSeatforMobile{
    animation: openPopSeatforMobile 1s forwards;
    animation-delay: 1s;
}

.PopCloseSeatforMobile{
    animation: closePopSeatforMobile 1s forwards;
}


/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .experience {
       display: none;/* Hide the element on screens with a width of 600px or less */
    }
    h1{
        font-size: 19vw;
        margin: 6.25rem 0 3rem;
        text-align: center;
    }
    .cabAPI{
        width: 20rem;
        height: 750px;
    }

    .navbar{
        font-size: 3.5vw;
    }
}
/* Media query for even smaller screens */
@media screen and (max-width: 400px){
    body{
        background: #011617;
    }
    .container{
        width: 150%;
    }
    h1{
        font-size: 19vw;
        margin: 6.25rem 0 3rem;
        padding: 0 1rem;
        text-align: center;
    } 
}
