@font-face {
    font-family: 'Bold Italic';
    src: url(orkney/Orkney\ Bold\ Italic.woff2);
}
@font-face {
    font-family: 'Light Italic';
    src: url(orkney/Orkney\ Light\ Italic.woff2);
}
@font-face {
    font-family: 'Medium Italic';
    src: url(orkney/Orkney\ Medium\ Italic.woff2);
}
@font-face {
    font-family: 'Regular Italic';
    src: url(orkney/Orkney\ Regular\ Italic.woff2);
}
@font-face {
    font-family: 'Bold';
    src: url(orkney/Orkney\ Bold.woff2);
}
@font-face {
    font-family: 'Light';
    src: url(orkney/Orkney\ Light.woff2);
}
@font-face {
    font-family: 'Medium';
    src: url(orkney/Orkney\ Medium.woff2);
}
@font-face {
    font-family: 'Regular';
    src: url(orkney/Orkney\ Regular.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    height:100vh;
    background: rgb(34, 34, 34);
    display: flex;
}

.hero{
    width: 80%;
    margin: auto;

}

h1{
    margin: 50px;
    font-family: 'Bold Italic';
    color:rgb(253, 208, 42);
    font-size: 100px;
    display:flex;
    justify-content: center;
}


.navbar{
    font-family: 'Medium';
    font-size: 20px;
    color: white;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content:space-evenly;
    cursor: pointer;
}
.popUps{
    display:flex;
    font-family: 'Regular';
    justify-content: center;
    border-radius: 7px;
    margin: 2px;
    padding: 50px;
}
.popSeat{
    display: none;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid rgb(255, 255, 255);
    transform: translate (-50%, -50%);
    background-color: rgb(203, 200, 200);
}
.popContact{
    display: none;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
    padding: 20px;
    background-color: white;
}
.popAbout{
    display: none;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
    padding: 20px;
    background-color: white;
}